#diamond {
    width: 100px;
    padding-left: 100px;
}

.diamond-image {
    width: 200px;
    text-align: center;
}

body {
    background-color: cadetblue;
}

h1 {
    font-family: fantasy;
    text-align: center;
    font-size: 200%;
}

#Wins {
    text-align: center;
    font-family: fantasy;
}

#Losses {
    text-align: center;
    font-family: fantasy;
} 